<h1>Choruses</h1>
<br>
<% @choruses.each do |c| %>
  <p><h2><%= link_to c.name, chorus_path(c) %></h2></p>
  <p></p>

<% end %> 

<%= button_to "Create New Chorus", new_chorus_path, class: "btn", method: :get %>