
      Part: 
      <p><label>
        <%= membership_form.check_box :baritone  %>
        <span>Baritone</span>
      </label></p>
      <p><label>
        <%= membership_form.check_box :bass  %>
        <span>Bass</span>
      </label></p>
      <p><label>
        <%= membership_form.check_box :lead  %>
        <span>Lead</span>
      </label></p>
      <p><label>
        <%= membership_form.check_box :tenor  %>
        <span>Tenor</span>
      </label></p>