<div class="card">
  <div class="card-tabs">
    <ul class="tabs">
      <li class="user tab active" id="profile"><a class="active" href="#">Profile</a></li>
      <li class="user tab" id="choruses"><a href="#">Choruses Managed</a></li>
      <li class="user tab" id="memberships"><a href="#">Chorus Memberships</a></li>
      <li class="user tab" id="account"><a href="#">Account</a></li>
      <%= button_to "View My Account", user_path(@user), class: "btn right", method: :get, params: {view: "true"}%>
    </ul>
  </div>
  <div class="card-content content " data-userid="<%=@user.id%>">
    <%= form_tag "", id: "edit_user_account", data: { userid: "#{@user.id}" }, method: "PUT" do %>
      <div class="form_fields"></div>
    <% end %>
  </div>
</div>

<!-- list of choruses -->
<script type="text/javascript" encoding="utf-8">
  $(document).on("turbolinks:load", function() {
    let tabs = M.Tabs.init($('.tabs'))
    const m = new Mastermind;
    const id = $(".content").data("userid")
    const selector = "div.form_fields"
    const handlePost = function(doneFunc = null) {
      $('form#edit_user_account').submit(function(event) {
        event.preventDefault();
        console.log(this)
        let values = $(this).serialize();
        let action = $(this).children("div.form_fields").data("action")
        console.log(action)
        console.log("submit")
        let posting = $.post(action, values)
        posting.done(function(data){
          console.log(data)
        })
      })
    }
    m.getUser(id, function(user) {
      // $("#edit_user_account").append(user.renderForm("profile"))
      user.renderProfileForm(selector);
      // handlePost(`singers/${user.profile.id}`)
      $(".user.tab").each(function() {
        $(this).on('click', function(event) {
          event.preventDefault();
          switch (this.id) {
            case "profile":
              user.renderProfileForm(selector);
              break;
            case "choruses":
              user.renderChorusForm(selector);
              break;
            case "memberships":
              user.renderMembershipsForm(selector);
              break;
            case "account":
              user.renderAccountForm(selector);
              break;
            default:
              // No default. Shouldn't get here.
          }
          // $("#edit_user_account_fields").empty().append(user.renderForm(this.id))
          // handlePost()
          
        })
      })
    })
  })
</script>
