<h1>Welcome</h1>
<p>This is Music Meeting Mastermind, a webapp for organizing your vocal choruses and chorus memberships! To get started, <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %>, otherwise head to the <%= link_to "chorus list", choruses_path %> to get started!</p>