<ul>
  <% flash.each do |k, mess| %>
    <li>
      <p class="alert alert-<%= k %>">
        <%= mess %>
        <a href="#" data-dismiss="alert" class="close">x</a>
      </p>
    </li>
  <% end %>
</ul>