
<h1><%= @chorus.name %> Membership</h1>
<%= render @singers, chorus: @chorus %>
<% if chorus_admin(@chorus) %>
  <%= button_to "New member", new_chorus_member_path(@chorus), { method: :get, class: "btn" } %>
<% end %>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Test 1</a></li>
        <li class="tab col s3 active"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
        <li class="tab col s3"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>
&nbsp;
<script type="text/javascript">
// jquery turbolinks equivalent to document load
$( document ).on("turbolinks:load", function () {
})
$(function () {
  $(".expand-singer").each(function() {
    $(this).on('click', function() {
      let arrow = $(this).text()
      if (arrow === "expand_more") {
        const id = $(this).data("singerid")
        let that = this;
        let m = new Mastermind;
        m.getSinger(id, function (singer) {
          // console.log(singer)
          // console.log(singer.mostCommonParts())
         $( `<p class="expand-info-singer">Description: ${singer.description}</p>` ).insertAfter($( that ).parent());
         $( `<p class="expand-info-singer">Age: ${singer.age}</p>` ).insertAfter($( that ).parent());
         $( `<p class="expand-info-singer">Favored Part: ${singer.mostCommonParts()}</p>` ).insertAfter($( that ).parent());
        })
        $(this).text("expand_less") 
      } else {
        $(this).text("expand_more")
        $(this).parent().siblings().filter(".expand-info-singer").remove()
      }
    })
  })
})
</script>